@import url('../../../variables/_variables.scss');

.about-section {
    color: var(--text);
    text-shadow: 1px 1px var(--link-shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
    
    .header {
        text-shadow: 1.5px 1px var(--primary);
    }

    span {
        margin: 0 100px;
        text-indent: 50px;

        @media screen and (max-width: 720px) {
            margin: 0 50px;
            text-indent: 30px;
        }

        @media screen and (max-width: 420px) {
            margin: 0 25px;
            text-indent: 20px;
        }
    }
}