.main {
    height: 96vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    margin: 2vh;
    overflow: auto; 
}

.left-bar {
    height: calc(100% - 5px);
    width: 25vw;
    background-color: #55B68B;
    border-right: 5px solid #2A5B44;
    border-bottom: 5px solid #2A5B44;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .wrapper {
        margin: 20px 0;
    }
    
    h1, h3, .paths {
        color: white;
    }

    img {
        border-radius: 50%;
    }

    .links-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .paths {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .content {
        height: 100%;
        width: 75vw;
        overflow: auto;
    }
}