.main {
    height: 96vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    margin: 2vh;
    overflow: auto;

    @media only screen and (max-width: 1100px) {
        display: block;
        // flex-direction: column;

        .left-bar {
            overflow: initial;
            width: calc(100% - 5px);
            height: auto;
        }
    }
}

.left-bar {
    height: calc(100% - 5px);
    width: 25vw;
    background-color: #55B68B;
    border-right-style: outset;
    border-bottom-style: outset;
    border-right: 5px solid #2A5B44;
    border-bottom: 5px solid #2A5B44;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .wrapper {
        margin: 20px 0;
    }

    .shadow {
        text-shadow: 1px 1px #2A5B44;
    }
    
    h1, h3, .paths {
        color: white;
    }

    img {
        border-radius: 50%;
    }

    .links-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .paths {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .content {
        height: 100%;
        @media screen and (min-width: 1024px) {
            width: 100%;
            overflow: initial;
        }
    }

    @media only screen and (max-width: 1100px) {
        .left-bar {
            width: 100%;
        }

        .wrapper {
            margin: 5px 0;
        }

        .links-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }

        .paths {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}