@import url('../../../variables/_variables.scss');

.projects-section {
    color: var(--text);
    text-shadow: 1px 1px var(--link-shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;

    span {
        a {
            text-decoration: none;
            color: var(--text);
        }
    }

    h2 {
        font-size: 1.25em !important;
    }

    .header {
        color: var(--secondary);
        text-shadow: 1.5px 1px var(--primary);
    }

    .paragraph {
        margin: 0 100px;
        text-indent: 50px;

        @media screen and (max-width: 720px) {
            margin: 0 50px;
            text-indent: 30px;
        }

        @media screen and (max-width: 420px) {
            margin: 0 25px;
            text-indent: 20px;
        }
    }

    .independent {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10vw;
        margin: 0 100px;

        .project {
            height: 20vh;
            width: 40vw;
        }

        .project-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2vh;
        }
    }
}