@import url('../../variables/_variables.scss');

.left-bar {
    height: calc(100% - 5px);
    width: 25vw;
    background-color: var(--secondary);
    border-right-style: outset;
    border-bottom-style: outset;
    border-right: 5px solid var(--primary);
    border-bottom: 5px solid var(--primary);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .wrapper {
        margin: 20px 0;
    }

    .shadow {
        text-shadow: 1.5px 1px var(--primary);
    }
    
    h1, h3, .paths {
        color: var(--text);;
    }

    img {
        border-radius: 50%;
    }

    .links-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 100%;

        @media (max-height: 680px) {
            a {
                img {
                    height: 24px;
                }
            }
        }
    }

    .paths {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .content {
        height: 100%;
        @media screen and (min-width: 1024px) {
            width: 100%;
            overflow: initial;
        }
    }

    .header-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 25px;
        color: var(--text);
        
        @media (max-height: 680px) {
            span {
                img {
                    height: 24px;
                }
            }
        }
        @media (max-height: 630px) {
            display: none;
        }
    }

    hr {
        width: calc(100% - 20px);
    }

    @media screen and (max-width: 1100px) {
        .left-bar {
            width: 100%;
        }

        .wrapper {
            margin: 5px 0;
        }

        .links-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }

        .paths {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 25px;

            @media screen and (max-width: 420px) {
                font-size: smaller;
                gap: 10px;
            }
        }

        .header-footer {
            display: none;
        }
    }    
}

@media screen and (max-width: 1100px) {

    .left-bar {
        overflow: initial;
        width: calc(100% - 5px);
        height: auto;
    }
}