.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 100vw;
    background-image: linear-gradient(#61DAFB, white);

    h1, h3, h5, a {
        color: #0265E2;
    }
}

.profile-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10vh 0;

    img {
        border-radius: 50%;
    }
}