@import url('../../../variables/_variables.scss');

.work-section {
    div {
        color: var(--text);
        text-shadow: 1px 1px var(--link-shadow-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        gap: 20px;

        span {
            margin: 0 100px;
            text-indent: 50px;

            @media screen and (max-width: 720px) {
                margin: 0 50px;
                text-indent: 30px;
            }

            @media screen and (max-width: 420px) {
                margin: 0 25px;
                text-indent: 20px;
            }
        }

        .tech {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px 100px;
            gap: 0;

            span {
                margin: 0 0;
                text-indent: 0;
            }

            .mobile {
                @media screen and (min-width: 700px) {
                    display: none;
                }
            }

            @media screen and (min-width: 701px) {
                display: flex;
            }

            @media screen and (max-width: 700px) {
                display: block;
            }

            @media screen and (max-width: 780px) {
                margin: 20px 75px;
            }

            @media screen and (max-width: 720px) {
                margin: 0 50px;
            }

            @media screen and (max-width: 420px) {
                margin: 0 25px;
            }
        }
    }
}